.horizontal-spacer {
  padding: 10px;
}

.or-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Timeline */

.minute circle {
  fill: steelblue;
}

.minute {
  font-size: 11px;
  text-anchor: end;
}

.line-name {
  text-anchor: start;
}

.station-marker circle {
  fill: #CC9999;
}

.station-marker line {
  stroke: #444;
  stroke-width: 0.5;
}

.station-marker text {
  fill: #AAA;
  font-size: 12px;
  text-anchor: end;
  font-weight: 600;
}

.hover-bg {
  fill-opacity: 0.0;
}

/* Listing */

.station-name {
  font-weight: 800;
}

.station-header {
  margin-bottom: 20px;
}

.direction {
  margin-top: 20px;
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 34px;
  height: 34px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

