@font-face {
  font-family: 'OpenSansBold';
  src: url('fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf');
}
@font-face {
  font-family: 'BarlowCondensed';
  src: url('fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}

body {
  font-family: 'BarlowCondensed';
  background-color: rgb(38, 42, 49);
  color: #DDD;
}

.button, select {
  font-family: 'BarlowCondensed';
}

.top-header {
  background-color: rgb(67, 69, 78);
  text-align: left;
  padding-left: 16px;
  padding-top: 8px;
}

.top-header h2 {
  color: #FFF;
}

.top-header h4 {
  color: #AAA;
}

.station-choice {
  background-color: #BBB;
  height: 64px;
  padding: 15px;
}

.horizontal-spacer {
  padding: 10px;
}

.or-separator {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
  color: #333;
  font-size: 18px;
}

/* Arrivals: Timeline & Listing */

.arrivals {
  /* background-color: #EFEFEF; */
}

/* Timeline */

.minute {
  font-size: 12px;
  font-family: 'OpenSansBold';
  fill: #999;
  text-anchor: end;
}

.line-name {
  text-anchor: start;
  fill: #AAA;
  font-size: 15px;
  font-family: 'OpenSansBold';
}

.station-marker circle {
  fill: #777;
}

.timeline-direction {
  fill: #BBB;
  text-anchor: end;
  font-style: italic;
}

/* .timeline-direction */

.station-marker line {
  stroke: #FFF;
  stroke-width: 0.2;
}

.station-marker .name {
  fill: #BBB;
  font-size: 15px;
  text-anchor: end;
  font-weight: 600;
}

.station-marker .address {
  fill: #AAA;
  font-size: 12px;
  text-anchor: end;
  font-weight: 600;
}

.hover-bg {
  fill-opacity: 0.0;
}

/* Listing */

.station-name {
  font-size: 18px;
  font-weight: 600;
}

.line-listing-name {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  border-radius: 4px;
  color: #333;
}

.station-header {
  margin-top: 40px;
  padding-right: 100px;
  text-align: center;
}

.direction {
  margin-top: 20px;
}

.direction h4 {
  color: #CCC;
}

ul.direction-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.bound {
  font-size: 14px;
  color: #999;
  font-style: italic;
}

/* Highlighting */

.highlighted-line {
  fill: #FFF;
  color: #FFF;
}

.highlighted-line-inverted {
  color: #999;
}

/* Others */

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 34px;
  height: 34px;
  animation: spin 2s linear infinite;

  margin-top: 30px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

